body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    width: 450px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

h2{
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.btn{
    width: 100%;
    background: #1a73e8;
    color: #fff;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    background:#1558b0;
}

.option{
    background: #ececec;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.option:hover{
    background: #d0d0d0;
}
